.about-outer {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
.about-inner {
  width: 100%;
  height: 84vh;
  margin-top: 80px;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-left,
.about-right {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.about-middle-line {
  width: 1px;
  height: 100%;
  background-color: rgb(202, 202, 202);
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 1.8s;
  opacity: 1;
}
.middle-line-false {
  height: 0%;
  opacity: 0;
}
.about-video {
  width: 45%;
  height: 60%;
  position: absolute;
  z-index: 7;
}
.about-header {
  width: 900px;
  height: 70px;
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
  position: absolute;
  top: 40px;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
}
.about-left-box-one {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 140px;
  left: 100px;
  z-index: 5;
  display: flex;
  align-items: center;
  font-size: 28px;
}
.about-left-box-two {
  width: 40%;
  height: 58%;
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 5;
  display: flex;
  font-size: 16px;
  line-height: 25px;
  overflow: auto;

  box-sizing: content-box;
}
.about-right-box-one {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 140px;
  right: 65px;
  z-index: 5;
  display: flex;
  align-items: center;
  font-size: 28px;
}
.about-right-box-two {
  width: 40%;
  height: 60%;
  position: absolute;
  top: 200px;
  right: -50px;
  z-index: 5;
  display: flex;
  font-size: 16px;
  line-height: 25px;
  text-align: end;
  overflow: auto;
  padding-right: 130px;
  box-sizing: content-box;
}
.cover-scrollbar {
  width: 40%;
  height: 60%;
  position: relative;
  top: 200px;
  left: 100px;
}
.scrollbar-cover {
  width: 17px;
  height: 100%;
  background-color: white;
  position: absolute;
  right: 0px;
  z-index: 6;
}
.about-contact-button {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 100px;
  background-color: white;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(202, 202, 202);
  transition: 0.3s;
}
.about-contact-button:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.about-inner-top-line,
.about-inner-bottom-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 2.8s;
  opacity: 1;
}
.about-inner-top-line {
  top: 0px;
}
.about-inner-bottom-line {
  bottom: 0px;
}

@media screen and (max-width: 1200px) {
  .about-outer {
    overflow: auto;
  }
  .about-inner {
    margin-top: 45vh;
    overflow: visible;
  }
  .about-left,
  .about-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cover-scrollbar {
    opacity: 0;
  }
  .about-header {
    top: -300px;
  }
  .about-video {
    top: -280px;
  }
  .about-right-box-one,
  .about-left-box-one {
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0px;
  }

  .about-right-box-two,
  .about-left-box-two {
    width: 80%;
    height: 100%;
    text-align: center;
  }
  .about-left {
    height: 600px;
    display: flex;
    justify-content: flex-start;
  }
  .about-left-box-two,
  .about-right-box-two {
    left: 50%;
    margin-left: -40%;
  }
  .about-right {
    margin-top: -100px;
  }
  .cover-scrollbar,
  .about-middle-line,
  .about-inner-top-line,
  .about-inner-bottom-line {
    display: none;
  }
  .about-contact-button {
    bottom: -400px;
  }
  .about-header {
    width: 80%;
  }
}
