.contact-outer {
  width: 100%;
  height: 100vh;
  display: flex;
}
.contact-inner {
  width: 100%;
  height: 84vh;
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
}
.contact-inner-top-line,
.contact-inner-bottom-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 2.8s;
  opacity: 1;
}
.contact-inner-top-line {
  top: 0px;
}
.contact-inner-bottom-line {
  bottom: 0px;
}

.false-line {
  width: 0%;
  opacity: 0;
}
.contact-inner-box {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.contact-inner-box-left,
.contact-inner-box-right {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-inner-box-left {
  align-items: flex-start;
}

.contact-inner-box-left-line-one,
.contact-inner-box-left-line-two,
.contact-inner-box-left-line-three {
  width: 1px;
  background-color: rgb(202, 202, 202);
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 1.8s;
}
.contact-inner-box-left-line-one {
  left: 0px;
}
.contact-inner-box-left-line-two {
  right: 0px;
}
.contact-inner-box-left-line-three {
  right: 0px;
}
.virticle-line-false {
  height: 0%;
}
.map-box-outer {
  height: 70%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: 2s;
}
.map-container {
  width: 80%;
  height: 70%;
  transition: 2s;
  opacity: 1;
}
.map-false {
  opacity: 0;
}
.where-we-work-outer {
  width: 80%;
  height: 100px;
  margin-bottom: -80px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  transition: 2s;
  opacity: 1;
}

.where-we-work-text-header {
  width: 100%;
  height: 30%;
  font-weight: 600;
}
.where-we-work-text-sub-header {
  width: 300px;
  height: 20%;
  margin-top: -20px;
  color: gray;
}
.contact-info-box-outer {
  width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info-box-inner {
  width: 60%;
  height: 70%;
  font-size: 16px;
  opacity: 1;
  transition: 2s;
}
.info-box-false {
  opacity: 0;
}
.contact-info-header {
  font-weight: 600;
  margin-bottom: 10px;
}
.contact-info-email {
  color: gray;
  height: 50px;
}
.wide {
  width: 100%;
  height: 30px;
}
.contact-info-number-one {
  margin-top: 20px;
  color: gray;
}
.contact-info-number-two {
  color: gray;
}
.line-above-contact-info {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(202, 202, 202);
  transition: 2s;
}
.horizontal-line-false {
  width: 0%;
}
.contact-inner-box-left-inner {
  width: 90%;
  height: 90%;
  overflow: hidden;
  padding-top: 30px;
}

.form-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  opacity: 1;
  transition: 2s;
}
.contact-false {
  opacity: 0;
}
container {
  width: 80%;
  height: 60px;
  position: relative;
}

label {
  position: absolute;
  top: -20px;
  font-weight: 600;
}
input,
textarea {
  border: 2px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding-left: 10px;
  width: 100%;
}
input {
  height: 30px;
}
textarea {
  height: 120px;
  padding-top: 10px;
}
.contact-header {
  font-size: 58px;
  width: 350px;
}

.contact-first-name,
.contact-last-name {
  width: 40%;
}
.contact-us-header {
  padding-bottom: 80px;
}
.first-name-input,
.last-name-input {
  width: 90%;
}
.contact-last-name {
  padding-left: 4%;
}
.contact-us-submit-button-outer {
  width: 82.5%;
  margin-top: 80px;
}
.contact-us-submit-button {
  height: 40px;
  border-radius: 50px;
  color: rgb(83, 83, 83);
  transition: 0.3s;
}
.contact-us-submit-button:hover {
  color: white;
  font-weight: 600px;
  background-color: #3a3a1f;
  border: 2px solid #3a3a1f;
  cursor: pointer;
}
