.landing-outer {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
.landing-top {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
}
.landing-top-inner {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.landing-top-one {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.landing-top-two {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.l {
  font-size: 10rem;
  color: #3a3a1f;
  display: inline-block;
  transition: 0.8s;
}
.l-true {
  position: relative;
  top: 0px;
}
.l-false {
  position: relative;
  top: 200px;
}
.space {
  margin-right: 30px;
}

.landing-bottom {
  width: 100%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.landing-bottom-left {
  width: 58%;
  height: 60%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.landing-bottom-left-top {
  width: 70%;
  height: 50%;
}
.landing-bottom-left-top-inner {
  width: 50%;
  height: 100%;
  font-size: 15px;
  opacity: 1;
  transition: 1s;
}
.landing-bottom-left-bottom {
  width: 70%;
  height: 50%;
}
.landing-bottom-left-bottom-inner {
  width: 130px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  opacity: 1;
  transition: 1s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a3a1f;
  text-decoration: none;
}
.products-text {
  position: absolute;
  color: white;
  transition: 0.3s;
}
.products-text-false {
  position: absolute;
  transition: 0.3s;
}
.landing-bottom-left-bottom-inner:hover {
  cursor: pointer;
}
.button-hover {
  width: 110%;
  height: 300%;
  background-color: #3a3a1f;
  transition: 0.3s;
  border-radius: 50%;
  color: white;
}
.button-hover-false {
  width: 0%;
  height: 0%;
  background-color: #3a3a1f;
  transition: 0.3s;
  border-radius: 50%;
  color: #3a3a1f;
}

.landing-bottom-middle {
  width: 17%;
  height: 60%;
  font-size: 10px;
  opacity: 1;
  transition: 1s;
}
.landing-bottom-right {
  width: 20%;
  height: 60%;
  font-size: 10px;
  opacity: 1;
  transition: 1s;
}
.opacity {
  opacity: 0;
}
.landing-span-img {
  width: 100%;
  height: 100vh;
  margin-top: 6vh;
  background-image: url("../assets/images/1.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  transition: 1s;
  position: relative;
}
.landing-lines-outer {
  width: 100%;
  height: 91vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.landing-top-lines {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.line {
  height: 100%;
  width: 1px;
  background-color: rgb(202, 202, 202);
  transition: 1.5s ease-in-out;
}
.landing-line-one,
.landing-line-eight {
  background-color: transparent;
}

.landing-bottom-line {
  width: 100%;
  height: 1%;
  display: flex;
  justify-content: center;
}
.landing-bottom-line-inner {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 1.5s ease-in-out;
  position: relative;
}

.false-line {
  height: 0%;
}
.false-line-horizontal {
  width: 0%;
}

.cover-lines-after-animation {
  width: 100%;
  height: 91.1vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  transition: 3s;
}

.landing-nav-outer {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  z-index: 9;
  opacity: 1;
  transition: 1s;
}
.landing-nav-inner {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing-nav-logo {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  margin-left: 50px;
  scale: 0.8;
}

.landing-nav-sub {
  margin-top: 5px;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  border: none;
  color: #3a3a1f;
}
.landing-nav-sub:hover,
.landing-nav-logo:hover {
  cursor: pointer;
}

.landing-nav-line-hover-false {
  width: 1%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.landing-nav-line-hover-true {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 0.3s;
}

.transparent {
  opacity: 0;
}

.landing-nav-lines-outer {
  width: 60px;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.landing-nav-lines-outer:hover {
  cursor: pointer;
}
.landing-nav-lines-inner {
  width: 50%;
  height: 28%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.landing-navline {
  width: 100%;
  height: 2px;
  background-color: gray;
}
.landing-dropdown {
  width: 200px;
  height: 150px;
  position: absolute;
  right: 0px;
  top: 70px;
}

.landing-nav-home,
.landing-nav-projects,
.landing-nav-about,
.landing-nav-contact {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  text-decoration: none;
  color: #3a3a1f;
}
.landing-nav-home:hover,
.landing-nav-projects:hover,
.landing-nav-about:hover,
.landing-nav-contact:hover {
  background-color: rgb(228, 228, 228);
}

@media screen and (max-width: 2250px) {
  .landing-outer {
    width: 75%;
  }

  .landing-top-inner {
    scale: 1;
    background-color: white;
    width: 5%;
    padding-left: 0px;
  }

  .heading-letter-container {
    padding: 5px;
  }
  .landing-nav-outer {
    width: 100%;
  }
}
@media screen and (max-width: 1900px) {
  .landing-top-inner {
    scale: 0.9;
  }
  .landing-bottom-left-top-inner {
    width: 280px;
    height: 100%;
    font-size: 15px;
    opacity: 1;
    transition: 1s;
  }
  .landing-bottom {
    width: 100%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .landing-bottom-left {
    width: 58%;
    height: 100%;
    justify-content: flex-end;
  }
  .landing-bottom-middle {
    width: 150px;
    margin-right: 20px;
  }
  .landing-bottom-right {
    width: 150px;
  }
}
@media screen and (max-width: 1650px) {
  .landing-top-inner {
    scale: 0.8;
  }
}
@media screen and (max-width: 1450px) {
  .landing-top-inner {
    scale: 0.6;
  }
  .landing-top {
    align-items: center;
  }
}
@media screen and (max-width: 1100px) {
  .landing-top-inner {
    scale: 0.5;
  }
  .landing-bottom-middle {
    display: none;
  }
  .landing-bottom-right {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .landing-nav-sub {
    opacity: 0;
  }
  .landing-nav-lines-outer {
    opacity: 1;
  }
}
@media screen and (min-width: 1100px) {
  .landing-nav-sub {
    opacity: 1;
  }
  .landing-nav-lines-outer {
    opacity: 0;
  }
}
@media screen and (max-width: 950px) {
  .landing-top-inner {
    scale: 0.4;
  }
}
@media screen and (max-width: 750px) {
  .landing-top-inner {
    scale: 0.3;
  }
}
@media screen and (max-width: 550px) {
  .landing-top-inner {
    scale: 0.25;
  }
}
@media screen and (max-width: 414px) {
  .landing-top-inner {
    scale: 0.2;
  }
}
@media screen and (max-width: 412px) {
  .landing-top-inner {
    scale: 0.16;
  }
}
@media screen and (max-width: 280px) {
  .landing-top-inner {
    scale: 0.15;
  }
}
