.selected-works-outer {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5vh;
  border-top: 1px solid #3a3a1f9c;
}

.selected-works-left {
  width: 60%;
  height: 100%;
}
.selected-works-left-inner {
  width: 30%;
  height: 60%;
  font-size: 65px;
  margin-left: 30px;
  margin-top: 30px;
  opacity: 1;
  transition: 0.8s;
}
.t-false {
  margin-top: 200px;
  opacity: 0;
}
.selected-works-right {
  width: 40%;
  height: 100%;
}
.selected-works-right-top {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
}
.selected-works-right-top-inner {
  width: 300px;
  height: 60%;
  font-size: 15px;
  transition: 1.5s;
}
.selected-works-right-bottom {
  width: 100%;
  height: 40%;
}
.selected-works-button {
  width: 150px;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid black;
  font-size: 12px;
  overflow: hidden;
  transition: 1.5s ease-in;
  color: black;
}
.selected-works-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .selected-works-outer {
    height: 50vh;
  }
  .selected-works-left {
    width: 100%;
    height: 20vh;
  }
  .selected-works-right {
    height: 20vh;
    width: 60%;
  }
  .selected-works-right-top {
    width: 100%;
    height: 40%;
    margin-left: 60px;
  }
  .selected-works-button {
    margin-left: 60px;
    margin-top: 80px;
    transition: 0.3s;
  }
}
@media screen and (max-width: 280px) {
  .selected-works-outer {
    height: 70vh;
  }
  .selected-works-left {
    width: 100%;
    height: 20vh;
    scale: 0.6;
    margin-left: -40px;
  }
  .selected-works-right {
    height: 20vh;
    width: 60%;
  }
  .selected-works-right-top {
    width: 100%;
    height: 40%;
    margin-left: 60px;
  }
  .selected-works-button {
    margin-left: 60px;
    margin-top: 140px;
  }
}
